@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido a la pagina de soporte del laboratorio de Informática</h1>

<p>
    En esta página podrás realizar Tickets de soporte para resolver cualquier problema relacionado con el laboratorio de informática.
    Para crear un ticket, simplemente haz clic en "Tickets", completa el formulario con los detalles de tu problema y da click en "Crear Ticket".
    Nuestro equipo de soporte se encargará de revisar tu solicitud y brindarte la asistencia necesaria lo antes posible.  
</p>
